.container {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .featureContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 16rem;

        .iconContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15%;
            padding: 0.7rem;

            &.timeColor {
                background-color: darkolivegreen;
            }

            &.peopleColor {
                background-color: purple;
            }

            &.productColor {
                background-color: slateblue;
            }
        }
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    .title {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    .phrase {
        display: flex;
        width: 75%;
        font-size: 0.8rem;
    }
}