@use '@styles-utils/components' as component;
@use '@styles-utils/colors' as color;
@use '@styles-utils/fonts' as font;

.presentationContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
        text-align: center;
        font-size: 2rem;

        span {
            font-weight: lighter;
            font-family: font.$rowdies;
            color: color.$dark;
        }
    }

    .presentationContent {
        display: flex;
        gap: 3rem;

        .presentationText {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 45rem;
            text-align: justify;


            .toCatalogBtn {
                align-self: end;
                width: 12rem;
                @include component.button(color.$green, color.$green-hover);
            }
        }

        .imageContainer {
            display: flex;
            justify-content: center;

            img {
                height: 25rem;
            }
        }
    }
}