@use '@styles-utils/colors' as color;
@use '@styles-utils/fonts' as font;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: font.$quicksand;
    background-color: color.$light;
}