@use '../utils' as utils;

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  font-weight: bolder;

  @include utils.breakpoint-down(xsmall) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.2rem;

  @include utils.breakpoint-down(xsmall) {
    font-size: 1.1rem;
  }
}

label {
  display: block;
  padding-bottom: 0.25rem;

  @include utils.breakpoint-down(xsmall) {
    font-size: 0.9rem;
  }
}

input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: 0.1rem solid darkgray;
  outline: none;
  background-color: utils.$light;

  &:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  @include utils.breakpoint-down(xsmall) {
    font-size: 0.9rem;
  }
}

button {
  font-family: inherit;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 2rem;
  margin: 0;
}

li {
  margin-bottom: 0.3rem;
}