@use '../../styles/utils' as utils;

$green: #277c4d;
$green-hover: #2a8d55;
$light: #e7e9ee;

.container {
  display: flex;
  justify-content: center;
  user-select: none;

  .content {
    background-color: white;
    width: 40rem;
    padding: 0.5rem;

    .msgSection {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;


      .messageContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .iconContainer {
          display: flex;
          gap: 0.5rem;
          width: fit-content;
          padding: 0.2rem 0.5rem;
          background-color: utils.$light;
          border-radius: 0.4rem;

          .icon {
            border-bottom-width: 0.2rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            border-radius: 0.5rem 0.5rem 0 0;
            padding: 0.1rem 0;
            cursor: pointer;

            &.information {
              &.selected {
                border-bottom-color: dodgerblue;
              }

              &:hover {
                background-color: lightblue;
              }
            }

            &.warning {
              &.selected {
                border-bottom-color: gold;
              }

              &:hover {
                background-color: palegoldenrod;
              }
            }

            &.danger {
              &.selected {
                border-bottom-color: red;
              }

              &:hover {
                background-color: lightpink;
              }
            }
          }
        }

        .informationContainer {
          padding: 0.5rem;
          background-color: lightblue;
          border-radius: 0.4rem;

          .headerContainer {
            display: flex;
            justify-content: space-between;

            .title {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }

            svg {
              border-radius: 50%;
              padding: 0.1rem;
              cursor: pointer;

              &:hover {
                background-color: white;
              }
            }
          }

          .messageContent {
            padding: 0.5rem;
            font-size: 0.9rem;
          }
        }

        .warningContainer {
          padding: 0.5rem;
          background-color: moccasin;
          border-radius: 0.4rem;


          .headerContainer {
            display: flex;
            justify-content: space-between;

            .title {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }

            svg {
              border-radius: 50%;
              padding: 0.1rem;
              cursor: pointer;

              &:hover {
                background-color: white;
              }
            }
          }

          .messageContent {
            padding: 0.5rem;
            font-size: 0.9rem;
          }
        }

        .dangerContainer {
          padding: 0.5rem;
          background-color: mistyrose;
          border-radius: 0.4rem;

          .headerContainer {
            display: flex;
            justify-content: space-between;

            .title {
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }

            svg {
              border-radius: 50%;
              padding: 0.1rem;
              cursor: pointer;

              &:hover {
                background-color: white;
              }
            }
          }

          .messageContent {
            padding: 0.5rem;
            font-size: 0.9rem;
          }
        }
      }
    }

    h1 {
      text-align: center;
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      @include utils.breakpoint-down(xsmall) {
        gap: 1rem;
      }

      .inputContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;

        @include utils.breakpoint-down(xsmall) {
          gap: 1rem;
        }
      }

      button {
        font-size: 1rem;
        padding: 0.6rem 0.7rem;
        background-color: $green;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 0.2rem;
        outline: none;
        width: 8rem;

        &:hover,
        &:focus {
          background-color: $green-hover;
        }

        &:focus {
          box-shadow:
            0 0 0 1px $light,
            0 0 0 3px $green;
        }

        @include utils.breakpoint-down(xsmall) {
          padding: 0.5rem 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.msgContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: papayawhip;
  border-radius: 0.4rem;
  padding: 0.5rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10rem;

    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    svg {
      border-radius: 50%;
      padding: 0.2rem;
      cursor: pointer;

      &:hover {
        background-color: white;
      }
    }
  }

  p {
    padding: 0 0.4rem;
    font-size: 0.9rem;
  }
}