@use '@styles-utils/components' as component;
@use '@styles-utils/colors' as color;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;

    .formContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.buttonGreen {
    @include component.button(color.$green, color.$green-hover)
}