//@use '../../styles' as utils;

$green: #277c4d;
$green-hover: #2a8d55;
$light: #e7e9ee;

%button-shared {
  font-size: 1rem;
  padding: 0.6rem 0.7rem;
  background-color: $green;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  outline: none;

  &:hover,
  &:focus {
    background-color: $green-hover;
  }

  &:focus { 
    box-shadow:
      0 0 0 1px $light,
      0 0 0 3px $green; 
  }

  /*@include utils.breakpoint-down(xsmall) {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
  }*/
}


.container {
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    user-select: none;
    padding: 1rem;
    width: 24rem;

    >.header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem;

      >img.logo {
        width: 5rem;
      }
    }

    >form.formContainer {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      padding: 1.3rem;
      background-color: $light;
      border-radius: 0.25rem;
      border: 0.12rem solid darkgray;

      /*@include utils.breakpoint-down(small) {
        padding: 1rem;
      }

      @include utils.breakpoint-down(xsmall) {
        padding: 0.8rem;
      }*/

      >.inputContainer>input {
        width: 100%;
      }

      .submit {
        @extend %button-shared;

        &.pending {
          background-color: $green-hover;
        }
      }
    }
  }
}
