@use '@styles-utils/fonts' as font;
@use '@styles-utils/colors' as color;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .presentationContainer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 50rem;

        .sectionContainer {
            display: flex;
            gap: 1rem;

            .infoContainer {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-size: 2rem;

                    span {
                        font-weight: lighter;
                        font-family: font.$rowdies;
                        color: color.$dark;
                    }
                }

                .text {
                    font-size: 1.1rem;
                    text-align: justify;
                }
            }

            img {
                width: 20rem;
                height: 14rem;
                border-radius: 10%;
            }
        }
    }
}
