@use '@styles-utils/breakpoints' as b;
@use '@styles-utils/colors' as color;

.container {
    display: flex;
    justify-content: center;

    .section {
        background-color: white;
        padding: 1rem;
        width: 30rem;

        @include b.breakpoint-down(small) {
            padding: 0.7rem;
        }

        .message {
            text-align: justify;
        }

        .link {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }

            &:active {
                color: inherit;
                opacity: 0.5;
            }
        }
    }

    .productList {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        width: 100%;

        .cardContainer {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 0.7rem;
            color: inherit;

            .image {
                margin-bottom: 0.5rem;
            }

            .price {
                align-self: flex-end;
                color: color.$dark;
                font-weight: bolder;
                font-size: 1.1rem;
            }
        }
    }

}