@use '@styles-utils/breakpoints' as b;

.container {
    display: flex;
    justify-content: center;

    .productList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 0.5rem;
        width: 100%;
    }
}

@include b.breakpoint-up(small) {
    .container {
        .productList {
            gap: 1rem;
        }
    }
}

@include b.breakpoint-up(medium) {
    .container {
        .productList {
            gap: 2rem;
        }
    }
}

@include b.breakpoint-up(large) {
    .container {
        .productList {
            gap: 3rem;
        }
    }
}

