.personalContainer {	
	.personalContent {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		column-gap: 2rem;
		row-gap: 2rem;

		.inputContent {
			width: 16rem;

			input {
				width: 100%;
			}
		}
	}
}