.personalContainer {	
	.personalContent {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 2rem;
		row-gap: 2rem;

		.inputContent {
			width: 18rem;

			input {
				width: 100%;
			}
		}
	}
}